<h1>Clusters</h1>
<table>
    <thead>
        <tr><th>Cluster Name</th></tr>
    </thead>
    <tbody>
        <%= render :partial => 'shared/line_items/cluster', :collection => @clusters %>
    </tbody>
</table>
