/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
circle.node {
    fill-opacity: 0.7;
}
circle:hover {
    fill-opacity: 1;
    fill: #ccc !important;
    stroke: #666 !important;
}
svg, body, html {
    font-family: Arial, sans-serif;
}
svg.density {
    background-color: #999;
    box-shadow: inset 0 0 20px #333;
    border-radius: 20px;
    display: inline-block;
    position: relative;
}
g.node {
    cursor: pointer;
}
circle.activated {
    fill: #EE0 !important;
    stroke: #660 !important;
}
.node.open circle, .node.closed circle {
   stroke: #123 !important;
   stroke-width: 1.5px;
} 
.node.closed circle {
    fill: #ABC !important;
}
.node.open text {
    font-weight: bold;
}
.node.open circle {
    fill: #123 !important;
}
g.node.idea {
    cursor: auto;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
html, body, svg {
    margin: 0;
    padding: 0;
    font-size: 13px;
}
#dataClose {
    position: absolute;
    top: 6px;
    right: 10px;
    background: #123;
    color: #eee;
    padding: 0.3em 0.6em;
    border-radius: 6px;
}
#dataClose:hover {
    background-color: #234;
}
#graph, #notGraph {
    display: inline-block;
}
#graph {
    position: relative;
    margin-top: 5px;
}
#notGraph {
    vertical-align: top;
}
.panel {
    padding: 0.3em 1em 1em;
    margin: 0 1em;
    border-radius: 20px;
    border: 4px solid #888;
    background-color: #123;
    color: white;
    min-width: 230px;
}
#questions ul {
    padding-left: 0;
}
#controls {
    margin-top: 0.6em;
}
.panel h2 {
    text-align: center;
}
#notGraph ul {
    list-style-type: none;
}
#data {
    position: absolute; 
    bottom: 0;
    z-index: 1;
    padding: 0.4em 1em 1em;
    background-color: rgba(255, 255, 255, 0.65);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 0;
    font-size: 0.9em;
}
.sortLabel {
    position: absolute;
    display: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 0.6em;
    font-size: 0.8em;
}
.inline {
    display: inline-block;
    width: 33%;
    margin-bottom: 0.4em;
}
.swatch {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    margin-right: 0.3em;
}
.legendEntry {
    padding: 0.1em;
}
#d3Nodes {
    display: none;
}
#controls {
    font-size: 12px;
}
#controls h2 {
    cursor: pointer;
}
